* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
  vertical-align: middle;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display:inline;
}

.wrapper {
  text-align: center;
  vertical-align: middle;
  display:inline;
}

.container {
  width: 100%;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  vertical-align: middle;
}

.photo-grid {
  position: relative;
  max-width: 100%;
  word-wrap: break-word;
  display:inline;
}

.photo-grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display:inline;
  /*border: 1px solid #bbb;*/
}

.photo-grid li {
  float: left;
  position: relative;
  width: 33.3333333333333333333%;
  border: 1px solid #000;
  display:inline;
}

@media only screen and (max-width: 960px) {
  .container {
    max-width: 500px;
  }

  .photo-grid li {
    width: 35.555%;
  }

  .photo-grid li:last-child {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 500px;
  }

  .photo-grid li {
    width: 55.555%;
  }

  .photo-grid li:last-child {
    display: inline-block;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 500px;
  }

  .photo-grid li {
    width: 55.555%;
    display:inline;
  }

  .photo-grid li:last-child {
    display: inline-block;
  }
}
