.video-container {
    position: relative;
    padding-bottom: 54%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width:100%;
    margin: 0;
}

.bar {
    float: left;
    position: relative;
    margin-top: -9px;
}

#mc_embed_signup {
      background:#fff; clear:left; font-size: 10px; width:100%;
}

#myBtn{display:none;position:fixed;bottom:20px;right:30px;z-index:99;border:none;outline:none;cursor:pointer;padding:15px;background-color:transparent;opacity:0.3;transition:opacity .3s ease-out;-moz-transition:opacity .3s ease-out;-webkit-transition:opacity .3s ease-out;-o-transition:opacity .3s ease-out;}
#myBtn:hover{opacity:1;}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.fa-facebook:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    color: #3B5998;
}

.fa-twitter:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    color: #55acee;
}

.fa-instagram:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    color: #e95950;
}

.fa-youtube:hover {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    color: #bb0000;
}

h1 {
    text-align:center;
}

img {
    text-align:center;
}

h1:link {
    color:black;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
}

.nav a:hover{
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  background-color: #f6f6f6;
}
