h1 {
    text-align:center;
}

div {
    text-align:center;
}

img {
    text-align:center;
}

h1:link {
    color:black;
}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration:none;
}

.nav a:hover{
  background-color: #f6f6f6;
}
